* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

body{
    font-family: "Roboto", sans-serif;
    background-color:  #f8f9fa;
    
}


#slash{
    font-size: 50px;
    margin: 0 10px;
    font-weight: 300;
}

#subTitle{
    font-weight: 300;
    letter-spacing: 4px;
}

.desktopNav{
    display: flex;
    padding: 20px;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
    margin-left: 10%;
    display: flex;
    width: 100%;
}


.logo a {
    color: #1C1C1C;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    align-items: center;
}



a {
    text-decoration: none;
}

.navLinks{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navLinks ul {
    display: flex;
    list-style-type: none;
    margin-right: 70px;
}

.navLinks a {
    position: relative;
    text-decoration: none; 
    color: black; 
    margin-right: 20px;
    font-size: 25px;
    font-weight: 400;
}

.navLinks a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px; 
    background-color: black; 
    transition: width 0.3s ease-out; 
    
}

.navLinks a:hover::after {
    width: 100%; 
    
}


#logo {
    width: 50px;
}

.heroWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #e6dace 40%, #f8f9fa 40%);
    min-height: 500px;
    height: 100vh;
}

.heroCard{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.heroIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f4ece6 ;
    min-width: 300px;
    width: 375px;
    height: 525px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.heroIntro img{
    width: 205px;
    background-color: #bcbdbd;
    border-radius: 200px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.heroIntro h3{
    font-size: 30px;
    text-align: center;
}

.heroIntro p {
    letter-spacing: 5px;
}
.heroMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    padding-left: 50px;
    z-index: 100;
    height: 525px;
    background-color: #f8f9fa;
}

.heroMain h1 {
    font-size: 100px;
}
#socialImg{
    all: unset;
    width: 30px;
    margin: 0 10px;
    
}

.heroBtn{
    margin: 20px;
}

.heroBtn img {
    width: 20px;
    margin-left: 5px ;
}

.heroBtn a {
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    border: solid black 1px;
    transition: all 0.4s ease;
    
}

.heroBtn a:nth-child(1) {
    color: #fff;
    background-color: #0050ff;
    border: none;
    
}
.heroBtn a:nth-child(1):hover {
    background-color: #246aff;
}
.heroBtn a:nth-child(2):hover{
    background-color:#ced4da ;
}

.socials a {
    transition: all 0.4s ease;
}
.socials a:hover{
    scale: 1.3;
}
.socials{
    margin-top: auto;
    background-color: #ffffff;
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#line {
    background-color: #0050ff;
    width: 50px;
    height: 2px;
    margin:  20px 0px;
}

.typewriter{
    font-size: 30px;
    
}

.typewriterContainer p {
    width: 400px;
}
#text{
    font-size: 40px;
    font-weight: 700;
}

.herotypwritter{
    font-size: 20px;
}

#cursor {
    display: inline-block;
    width: 10px;
    color: #1C1C1C;
    font-size: 50px;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
}
.aboutImages img{
    width: 300px;
    border-radius: 20px;
}

.aboutImages{
    position: relative;
    float: left;
    width: 350px;
}

#background{
    position: absolute;
}

#profile{
    position: absolute;   
    top: 40px;
    left: 40px;
}

.about{
    margin-bottom: 200px;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1C1C1C;
}

.aboutContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.aboutText{
    width: 40%;
    margin-left: 40px;
}

#abttxt {
    font-size: 25px;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
}
.educationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    font-size: 20px;
    color:#1C1C1C;
}



.row {
    display: flex;
    flex-wrap: wrap;
}

.eduBox {
    margin: 20px;
}

.uniBox{
    margin-right: 120px;
}
.educationText{
    margin-top: 20px;
}

.projects{
    margin: 200px 0;
}

.projectsBoxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projBox img{
    width: 350px;
}

.projBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    min-height: 700px;
}

.projBox h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projBox h3 a {
    transition: all ease 0.4s;
}

.projBox h3 a:hover {
    scale: 1.2;
}

#dash{
    width: 70%;
    height: 2px;
    background-color: #000;
}

.projDesc{
    margin: 20px 0;
    width: 300px;
}
.projTech{
    margin: 20px 0;
    margin-bottom: 50px;
    text-align: center;
}


.projectButton {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000; 
    background-color: transparent; 
    border: 2px solid #000; 
    overflow: hidden;
    text-decoration: none;
    transition: color 0.4s ease-out;
    z-index: 0; 
    
}

.projectButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; 
    z-index: -1; 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
}

.projectButton:hover {
    color: #fff; 
}

.projectButton:hover::before {
    transform: scaleX(1); 
}


.contactWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(25deg, #e6dace 45%, #f8f9fa 30%);;
    padding: 100px 0;
}

.contactArea{
    background-color: #f4ece6 ;
    width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.contactArea h3 {
    margin-top: 30px;
    font-size: 34px;
}

.contactArea form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 40px;
    align-items: center;
    font-size: 24px;
}

.inputs{
    position:relative ;
    width: 90%;
}
.inputs label {
    position: absolute;
    top: 8px ;
    left: 2px;
}

.inputs input {
    margin-bottom: 50px;
    width: 100%;
    height: 40px;
    font-size: 24px;
}

.inputs textarea {
    margin-bottom: 100px;
    width: 100%;
    height: 150px;
}

.sbmt {
    margin-top: auto;
    margin-bottom: 40px;
    font-size: 25px;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}